{% extends 'base.html.twig' %}

{% block title %}Hello FrontHomeController!{% endblock %}

{% block body %}
    Supper votre commande a bien été enregister !!!
    <div>
        <a href="/" class="btn btn-lg btn-primary">Retour a l'aceuille</a>
    </div>
{% endblock %}