[mysql]
default-character-set=utf8

[mysqld]
collation-server=utf8_unicode_ci
character-set-server=utf8
default_authentication_plugin=mysql_native_password
bind-address=0.0.0.0
secure-file-priv=""
sql_mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION
